.image-container {
    background-color: blanchedalmond;
    box-sizing: border-box;
    border: 5px solid #ccc;
    width: 450px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageOne {
    background-color: aquamarine;
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.imageTwo {
    background-color: aquamarine;
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

/* got lost in css for a bit lol */

.form-container {
    background-image: linear-gradient(to right, rgb(0, 255, 98), rgb(0, 170, 255));
    border: 5px solid #ccc;
    border-radius: 3px;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
}

.form-area {
    border-radius: 2px;
}

.form-button{
    border-radius: 2px;
    cursor: pointer;
}


.timer-container {
    text-align: center;
    margin: 50px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 200px;
    background-color: #f9f9f9;
}

.timer {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#timer-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

#timer-button:hover {
    background-color: #0056b3;
}